extends layout

block content
  video#video(autoplay playsinline)
  div#canvas_area
    canvas#select_area
    canvas#drowing
  button#shutter
    | Take photo

  script
    | var display  = document.getElementById("select_area");
    | var drowing  = document.getElementById("drowing");
    | var instance = new app(display, drowing);
  script(src="/javascripts/ocr.js")
  script(src="/javascripts/selecter.js")