extends layout

block content
  video#video(autoplay playsinline)
  div#select_square
  canvas#select_area
    | This browser does not support the HTML5 Canvas element.

  script(src="https://cdn.rawgit.com/naptha/tesseract.js/1.0.7/dist/tesseract.js")
  script(src="/javascripts/video.js")
  script(src="/javascripts/selecter.js")
  script(src="/javascripts/selecter_sm.js")
  script(src="/javascripts/ocr.js")
