extends layout

block content
  video#video(autoplay playsinline)
  div#select_square
  canvas#select_area
    | This browser does not support the HTML5 Canvas element.


  script(src="/javascripts/ocr.js")
  script(src="/javascripts/selecter.js")
