$navicon-size:20vw;

nav{
  position: fixed;
  z-index: 200;
  width: $navicon-size;
  height: $navicon-size;
  top: 0;
  left: 100vw - $navicon-size;
  background-image: url("/images/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: $navicon-size;
}
#menu{
  display: none;
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  text-align: center;

  p{
    margin: 5vh 0 2vh;
  }
  select{
    margin: 0 25%;
    width: 50%;
  }
}

#video{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
#video_copy{
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

$controller_icon:25px;
#controller{
  position: fixed;
  z-index: 100;
  display: none;
  height: $controller_icon;
  width: 105px;
  top: 0;
  left: 0;
  span{
    display: inline-block;
    margin: 0 0 0 10px;
    height: $controller_icon;
    width: $controller_icon;
    background-repeat: no-repeat;
    background-size: $controller_icon;
    background-position: center;
  }
  #copy_button{
    background-image: url("/images/copy.png");
  }
  #reset_button{
    background-image: url("/images/reload.png");
  }
  #delete_button{
    background-image: url("/images/trash.png");
  }
}

#select_area{
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#select_square{
  position: fixed;
  display: none;
  z-index: 25;
  top: 0;
  left: 0;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 5px;
}