$navicon-size:15vw;

body{

}

nav{
  position: fixed;
  z-index: 200;
  width: $navicon-size;
  height: $navicon-size;
  top: 0;
  left: 100vw - $navicon-size;
  background-image: url("/images/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: $navicon-size;
  background-color: rgba(0,0,0,.3);
}
#video{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#selectarea{
  width: 100%;
  height: 100%;
}

#display{
  border: solid 2px #ffffff;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

#drowing{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}